root{
    --font-weight-regular: 400;
    --font-weight-extralight: 200;
    --primaria: #ffffff;
    --destaque: #128A00;
    --secundaria: #EBEBEB;
    --contraste_secundaria: #D0D0D0;
    --contraste_black: #000000;
    --contraste_bright: #F5F5F5
}

.categories_general{
    width: 100%;
    padding-top: 3rem;
    background-color: var(--contraste_bright);
}

.categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: 30rem;
}

.categories_title{
    text-decoration: none;
    padding-left: 4rem;
    color: var(--contraste_black);
    font-weight: var(--font-weight-regular);
    font-size: 2.5rem;
}

.categories_title:hover{
   color: var(--destaque);
}