root{
    --font-weight-regular: 400;
    --font-weight-extralight: 200;
    --primaria: #ffffff;
    --destaque: #128A00;
    --secundaria: #EBEBEB;
    --contraste_secundaria: #D0D0D0;
    --contraste_black: #000000;
    --contraste_bright: #F5F5F5
}

.login_all{
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.login_general{
    display: flex;
    flex-direction: column;
}

.login_form{
    
}